@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body
{
    font-family: 'Audiowide';
    margin: 0;
    overflow-x: hidden;
}

#Header1Text
{
    font-size: 80px;
    text-align: center;
}

#Header
{
    background-color: whitesmoke;
    width: 100vw;
    height: 250px;
}

a
{
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 18px;
    -moz-transition: padding 250ms;
    -webkit-transition: padding 250ms;
    -o-transition: padding 250ms;
    transition: padding 250ms;
    transform: scale(100%, 100%);
    transition: 0.3s;
}

a:hover
{
    background: darken(#E2F3E2, 8%);
    text-decoration: none; 
    padding: 8px 20px;
}

#Header2Text
{
    font-size: 60px;
}

#content
{
    margin-left: 13px;
}

.audio
{
    visibility: hidden;
}